/* For use in src/lib/core/theming/_palette.scss */
$md-violet: (
    50 : #e7e2e6,
    100 : #c2b6c1,
    200 : #9a8698,
    300 : #72556e,
    400 : #53304f,
    500 : #350c30,
    600 : #300a2b,
    700 : #280824,
    800 : #22061e,
    900 : #160313,
    A100 : #ff56e0,
    A200 : #ff23d7,
    A400 : #ef00c3,
    A700 : #d500af,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-lightgreen: (
    50 : #f9fdfa,
    100 : #f0fbf2,
    200 : #e6f9e9,
    300 : #dcf6e0,
    400 : #d5f4d9,
    500 : #cdf2d2,
    600 : #c8f0cd,
    700 : #c1eec7,
    800 : #baecc1,
    900 : #aee8b6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-yellow: (
    50 : #fff7e9,
    100 : #feecc8,
    200 : #fedfa4,
    300 : #fdd280,
    400 : #fcc964,
    500 : #fcbf49,
    600 : #fcb942,
    700 : #fbb139,
    800 : #fba931,
    900 : #fa9b21,
    A100 : #ffffff,
    A200 : #fffffe,
    A400 : #ffe7cb,
    A700 : #ffdbb2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-cyan: (
    50 : #f8fffd,
    100 : #edfffa,
    200 : #e1fff7,
    300 : #d4fff3,
    400 : #cbfff1,
    500 : #c2ffee,
    600 : #bcffec,
    700 : #b4ffe9,
    800 : #acffe7,
    900 : #9fffe2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

