$white: #ffffff;
$black: #000000;
$mat-black: rgba($black, .87);

@mixin mat-icon-size($size) {
    font-size: $size;
    width: $size;
    height: $size;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin circle($size) {
    @include size($size);
    border-radius: 50%;
}
