@import "vars";

footer {
    padding: 16px 32px;
    background: $mat-black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
        font-style: italic;
        color: gray;
        text-align: center;

        p:first-child {

        }

        p:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

img {
    max-width: 200px;
    height: auto;
}

@media screen and (max-width: 959px) {
    footer {
        flex-direction: column;
        gap: 16px;
    }
}
