<footer>
    <div>
        <img [ngSrc]="'./assets/img/logo.png'" [width]="200" [height]="28" alt="Logo">
    </div>

    <div class="copyright">
        <p>
            &copy; {{ year }} codingsamuel - All rights reserved
        </p>
        <p>
            Made with ❤️ in Germany
        </p>
    </div>

    <div class="social-media">
        @for (social of socialMedia; track $index) {
            <a mat-icon-button [href]="social.url" target="_blank">
                <mat-icon [svgIcon]="social.icon" [attr.aria-label]="social.name"/>
            </a>
        }
    </div>
</footer>
