<footer>
    <div>
        <img src="/assets/img/logo.png" alt="Logo">
    </div>

    <div class="copyright">
        <p>
            &copy; {{ year }} codingsamuel - All rights reserved
        </p>
        <p>
            Made with ❤️ in Germany
        </p>
    </div>

    <div class="social-media">
        <a mat-icon-button>
            <mat-icon svgIcon="instagram" />
        </a>
        <a mat-icon-button>
            <mat-icon svgIcon="github"/>
        </a>
        <a mat-icon-button>
            <mat-icon svgIcon="xing"/>
        </a>
    </div>
</footer>
