@use "@angular/material" as mat;
@use "sass:math";

@import "color-pallets";
@import "vars";

.section {
    padding: 64px;
    width: calc(100% - 128px);
}

#aboutMe {
    position: relative;
    min-height: 500px;
    background: mat.get-color-from-palette($md-lightgreen, 500);
    z-index: 1;
    transform: skewY(-4deg);
    margin-top: -16px;

    .content {
        display: flex;
        gap: 32px;
        transform: skewY(4deg);
        color: $mat-black;
        margin-top: 4%;

        .content-right {
            display: flex;
            gap: 32px;
        }
    }

    .profile {
        flex-shrink: 0;
        flex-basis: 20%;
        width: 20%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid $mat-black;

        .image {
            @include circle(150px);
            box-shadow: 0 4px 4px rgba($black, .26);
            max-height: 150px;
        }

        .title {
            margin-top: 16px;
            font-weight: 500;
            text-align: center;
        }

        .subtitle {
            font-style: italic;
            font-weight: 300;
        }

        .cv-list {
            margin-top: 32px;
            width: 100%;

            .cv-heading {
                margin-bottom: 16px;

                span {
                    text-transform: uppercase;
                    font-weight: 500;
                }

                &:not(:first-child) {
                    margin-top: 16px;
                }
            }

            .cv-heading,
            .cv-heading-inner {
                display: flex;
                align-items: center;
                gap: 4px;
                position: relative;
            }

            .cv-heading-inner::before,
            .cv-heading::after {
                content: '';
                position: absolute;
                background: mat.get-color-from-palette($md-violet, 500);
                width: 100%;
                z-index: 100;
            }

            .cv-heading-inner::before {
                bottom: -8px;
                height: 3px; /* Thick line under the text */
                width: calc(100% + 16px);
            }

            .cv-heading::after {
                bottom: -7px;
                height: 1px; /* Thin line on the right */
                right: 0;
            }

            .cv-content {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;

                span:first-child {
                    font-weight: 500;
                }

                span:last-child {
                    text-align: right;
                }
            }
        }
    }

    .bio {
        flex-grow: 1;
        flex-basis: 40%;
        width: 40%;

        h2 {
            font-weight: 500;
            margin-bottom: 16px;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 8px;
        }
    }

    .image {
        flex-grow: 1;
        flex-basis: 40%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-top: -25%;

            path:first-child {
                fill: lighten(mat.get-color-from-palette($md-lightgreen, 900), 2%);
            }

            path:nth-child(3) {
                fill: mat.get-color-from-palette($md-violet, 400);
            }
        }
    }

    .journey {
        .journey-item {
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 8px;
            gap: 16px;
            background: #adb;
            max-width: 500px;
            flex-wrap: wrap;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            ul {
                margin-left: 32px;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                box-shadow: 3px 3px 8px rgba($black, .26);
                @include size(40px);
                flex-shrink: 0;
                background: mat.get-color-from-palette($md-lightgreen, 900);
            }

            .text {
                .title {
                    font-weight: 500;
                }

                .subtitle {
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
    }

    .download-btn {
        margin-top: 32px;
    }
}

#myServices {
    z-index: 2;
    position: relative;
    margin-bottom: 16px;

    h1 {
        text-align: center;
        font-weight: 500;
        font-size: 48px;
    }

    .card-wrapper {
        display: flex;
        justify-content: center;
        gap: 64px;
        margin-top: 64px;

        mat-card {
            width: 350px;
            background-color: mat.get-color-from-palette($md-violet, 400);
            box-shadow: 0 0 0 mat.get-color-from-palette($md-lightgreen, 500);
            transition: .3s;

            ::ng-deep .mat-mdc-card-header-text {
                flex-grow: 1;
            }

            &:hover {
                transform: translateY(-8px);
                box-shadow: 16px 16px 0 mat.get-color-from-palette($md-lightgreen, 500);
                cursor: pointer;
            }

            p:not(:last-child) {
                margin-bottom: 8px;
            }

            mat-card-header {
                padding: 32px 32px 0;
            }

            mat-card-content {
                padding: 0 32px;

                &:last-child {
                    padding-bottom: 32px;
                }
            }

            mat-card-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 32px;

                span {
                    font-weight: 300;
                    font-size: 32px;
                    text-align: center;
                }
            }

            mat-icon {
                @include mat-icon-size(48px);
                display: block;
                margin-bottom: 16px;
            }
        }
    }
}

#rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: mat.get-color-from-palette($md-lightgreen, 500);

    h1 {
        font-weight: 900;
        text-transform: uppercase;
        color: mat.get-color-from-palette($md-violet, 500);
        font-size: 48px;
    }

    @include ratingBase();
    @include ratingSize(48px);

    .download-btns {
        div {
            display: flex;
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}

@media screen and (max-width: 1919px) {
    #aboutMe {
        .content {
            .content-right {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .image {
            max-height: 300px;

            svg {
                margin-top: 0;
                max-height: 300px;
            }
        }

        .bio, .image {
            flex-basis: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1279px) {
    #aboutMe {
        .content {
            flex-direction: column;
        }

        .profile {
            border-right: none;
            border-bottom: 2px solid rgba($black, .87);
            flex-basis: 100%;
            width: calc(100% - 64px);
        }
    }

    #myServices {
        .card-wrapper {
            flex-direction: column;
            align-items: center;

            mat-card {
                width: 100%;
            }
        }
    }

    #rating {
        h1 {
            font-size: 32px;
        }

        @include ratingSize(40px, 4px 16px);
    }
}

@media screen and (max-width: 959px) {
    #rating {
        flex-direction: column;
        gap: 32px;
    }
}

@media screen and (max-width: 599px) {
    .section {
        padding: 32px;
        width: calc(100% - 64px);
    }

    #myServices .card-wrapper {
        gap: 32px;
    }
}
