<div class="header-wrapper">
    <div class="left">
        <h2>Hey,</h2>
        <h1>I'm Samuel</h1>
        <h2>Frontend-Developer</h2>
        <button mat-stroked-button color="accent" class="download-btn">
            About Me
            <mat-icon iconPositionEnd>trending_flat</mat-icon>
        </button>

        <div class="bubbles">
            <div class="bubble">
                <img src="/assets/img/bubble-1.svg" alt="Bubble">
                <div class="content">
                    <span class="label">3.5+</span>
                    <span class="text">Years Of Experience</span>
                </div>
            </div>
            <div class="bubble">
                <img src="/assets/img/bubble-2.svg" alt="Bubble">
                <div class="content">
                    <span class="label">75+</span>
                    <span class="text">Projects Completed</span>
                </div>
            </div>
            <div class="bubble">
                <img src="/assets/img/bubble-3.svg" alt="Bubble">
                <div class="content">
                    <span class="label">100%</span>
                    <span class="text">Made With Love</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="/assets/img/me.png" alt="Me" class="my-photo">
        <img src="/assets/img/lines-bg.svg" alt="lines-bg" class="lines-bg">
    </div>
</div>

