@use "@angular/material" as mat;

@import "./assets/scss/theme";

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    background-color: mat.get-color-from-palette($md-violet, 500);
    color: white;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
    overflow-x: hidden;
}
