mat-toolbar {
    justify-content: space-between;
}

.logo {
    max-width: 200px;
    height: auto;
}

.menu {
    display: flex;
    gap: 8px;

    a {
        font-weight: 100;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        position: relative;

        &.active {
            font-weight: 500;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            transition: .3s ease-in-out;
            height: 0;
        }

        &::before {
            top: 0;
            background: rgba(white, .2);
        }

        &::after {
            bottom: -5px;
            background: white;
            opacity: 0;
        }

        &:hover {

            &::before {
                height: 100%;
            }

            &::after {
                bottom: 0;
                opacity: 1;
                height: 2px;
            }
        }
    }
}
