<mat-toolbar color="primary">
    <img [ngSrc]="'./assets/img/logo.png'" [width]="200" [height]="28" alt="Logo" class="logo">
    @if ((innerWidth$ | async) < 1000) {
        <div class="menu-icon">
            <button mat-icon-button (click)="isMenuOpen = !isMenuOpen">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    }
    @if (isMenuOpen) {
        <div class="menu" [@dropDownMenu]>
            <button mat-button (click)="scrollTo('aboutMe')" class="menu-item">{{ 'mosa.pages.home.about-me.label' | translate }}</button>
            <button mat-button (click)="scrollTo('myServices')" class="menu-item">{{ 'mosa.pages.home.my-services.label' | translate }}</button>
            <button mat-button routerLink="#legalNotice" routerLinkActive="active" class="menu-item">{{ 'mosa.pages.home.legal-notice.label' | translate }}</button>
            <div class="langs menu-item">
                @for (lang of (availableLangs$ | async); track $index) {
                    <img [ngSrc]="'./assets/img/langs/'+ lang + '.png'" [width]="36" [height]="40" [alt]="lang"
                         [tabindex]="$index + 1"
                         class="lang" (click)="changeLang(lang)" [class.active]="(currentLang$ | async) === lang"
                         (keyup.enter)="changeLang(lang)">
                }
            </div>
        </div>
    }
</mat-toolbar>
