mat-toolbar {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    max-width: 200px;
    height: auto;
}

.menu {
    display: flex;
    gap: 8px;
    align-items: center;

    .lang {
        cursor: pointer;
        transition: .2s;

        &:not(.active) {
            opacity: .4;
        }

        &:hover, &.active {
            opacity: 1;
        }
    }

    .langs {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .menu-icon {
        flex-shrink: 0;
    }

    &.responsive {
        display: none;
    }

    .menu-item {
        font-weight: 100;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        position: relative;

        &.active {
            font-weight: 500;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            transition: .3s ease-in-out;
            height: 0;
        }

        &::before {
            top: 0;
            background: rgba(white, .2);
        }

        &::after {
            bottom: -5px;
            background: white;
            opacity: 0;
        }

        &:hover {

            &::before {
                height: 100%;
            }

            &::after {
                bottom: 0;
                opacity: 1;
                height: 2px;
            }
        }
    }
}

@media screen and (max-width: 959px) {
    mat-toolbar {
        height: auto;
        //flex-direction: column;
        padding: 16px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
